.scoreCard {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
  border-radius: 32px;
  padding-top: 38px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 46px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  position: relative;
}

.third-bravo-section {
  height: 134px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9px;
  box-sizing: border-box;
}

.third-bravo-section .grt-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 42px;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

.third-bravo-section .desc {
  text-align: center;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #cac9ff;
}

.result-txt {
  /* margin-bottom: 35px; */
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #cac9ff;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  position: relative;
}

.score {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 100px;
  height: 81px;
  width: 99px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.score .score-num {
  font-size: 46px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.total-num {
  margin-top: 5px;
  color: #cac9ff;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-size: 18px;
}

@media screen and (min-width: 250px) and (max-width: 739px) {
  .scoreCard {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 100%;
    padding-top: 17px;
    padding-bottom: 0px;
  }

  .circle {
    height: 140px;
    width: 140px;
  }

  .score {
    top: 70px;
    left: 70px;
  }
}
